@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Space Mono', 'Consolas', Courier, monospace
}

.boxed {
    width: 75vw;
    margin: auto;
    border: 3px solid;
    border-radius: 10px;
}

#first {
    margin-top: 2.5rem;
    padding: 0.3rem 2rem 1rem;
}

#placeholder {
    align-items: center;
    text-align: center;
    padding: 0.3rem;
}

#placeholder > h2 {
    margin: 0;
}

.boxed > img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 6px;
}